{:up ["CREATE TABLE answers (
        ID INTEGER PRIMARY KEY               NOT NULL,
        genome TEXT                          NOT NULL,
        program TEXT                         NOT NULL,
        timestamp TEXT                       NOT NULL);"]
 :down ["DROP TABLE answers;"]}