{:up ["CREATE TABLE lineage (
        answer_id    TEXT                       NOT NULL,
        ancestor_id  TEXT                       NOT NULL,
        relation     TEXT                       NOT NULL,
        FOREIGN KEY (answer_id)   REFERENCES answers(id),
        FOREIGN KEY (ancestor_id) REFERENCES answers(id),
        PRIMARY KEY(answer_id, ancestor_id) );"]
 :down ["DROP TABLE lineage;"]}