{:up ["CREATE TABLE scores (
        answers_id   INTEGER         NOT NULL,
        rubrics_id   INTEGER         NOT NULL,
        score        REAL,
        FOREIGN KEY (answers_id) REFERENCES answers(id),
        FOREIGN KEY (rubrics_id) REFERENCES rubrics(id),
        PRIMARY KEY(answers_id, rubrics_id) );"]
 :down ["DROP TABLE scores;"]}